/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* typography */
/* colors */
/* universal */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding-top: 50px;
  font-family: "Nixie One", cursive;
  overflow: scroll !important;
  height: 100%; }

.center {
  margin: 0 auto;
  text-align: center; }

.middle {
  margin: 10px auto;
  text-align: center; }

h1 {
  font-family: "Fredoka One", cursive;
  font-size: 5.25em;
  color: #EB006B;
  text-align: center;
  text-decoration: none;
  margin: 0px 5px; }

h2 {
  font-family: "Fredoka One", cursive;
  font-size: 2.25em;
  color: #3685BF;
  text-align: center;
  margin-top: 10px; }

h3 {
  font-family: "Nixie One", cursive;
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin-top: 50%; }

h4 {
  font-family: "Nixie One", cursive;
  font-size: 2em;
  color: white;
  margin-bottom: 20px; }

h5 {
  font-family: "Fredoka One", cursive;
  font-size: 5em;
  color: white;
  text-align: center;
  text-decoration: none; }

h6 {
  font-family: "Nixie One", cursive;
  font-size: 18px;
  color: white;
  background-color: #3685BF;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px; }

p {
  color: white;
  font-size: 18px;
  line-height: 32px; }

.p {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-align: left; }

.row {
  margin: 0 auto; }

.buttons {
  margin: 2% 38%;
  text-align: center; }

.entry {
  width: 274px;
  height: 274px;
  font-family: "Fredoka One", cursive;
  /*  float: left;*/
  margin: 5px;
  white-space: pre-line; }

#pink-banner {
  background-color: #EB006B;
  color: white;
  width: 100%;
  padding: 30px;
  margin-top: 50px; }

#overlay-banner {
  background-color: rgba(0, 150, 150, 0.5);
  width: 100%;
  padding: 30px;
  margin-top: 50px; }

#headshot {
  width: 274px;
  height: 274px;
  border: 20px inset #B1FF4A;
  border-radius: 50%; }

#transition-hover-content {
  padding: 10px;
  opacity: 0;
  background-color: rgba(0, 150, 150, 0.8);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
  -webkit-animation-name: example;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 20s;
  /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
  0% {
    background-color: #EB006B; }
  20% {
    background-color: #eda9c4; }
  40% {
    background-color: #B1FF4A; }
  60% {
    background-color: #77AB31; }
  80% {
    background-color: #3685BF; }
  100% {
    background-color: #EB006B; } }

/* Standard syntax */
@keyframes example {
  0% {
    background-color: #EB006B; }
  20% {
    background-color: #eda9c4; }
  40% {
    background-color: #B1FF4A; }
  60% {
    background-color: #77AB31; }
  80% {
    background-color: #3685BF; }
  100% {
    background-color: #EB006B; } }

#transition-hover:hover #transition-hover-content {
  opacity: 1; }

a:active {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:link {
  text-decoration: none; }

input {
  text-decoration: none;
  background: none;
  border: none;
  padding: 5px;
  font-size: 24px; }

input:hover {
  color: #B1FF4A; }

.info {
  padding-top: 30px; }

.fa {
  color: white;
  padding: 30px 5px 32px 0px; }
