/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* typography */
/* colors */
/* universal */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0 auto; }

/*
canvas {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  position: absolute;
}
*/
.container {
  padding: none; }

.col-md-12 {
  padding: none; }

.col-sm-12 {
  padding: none; }

.col-xs-12 {
  padding: none; }

#col-align-left {
  text-align: left; }

#col-align-right {
  text-align: right; }

.center {
  margin: 0 auto;
  text-align: center; }

.spacer-top {
  margin-top: 40px; }

.spacer-bottom {
  margin-bottom: 40px; }

hr {
  color: #B1FF4A;
  border: 3px solid #B1FF4A;
  margin-top: 60px; }

h1 {
  font-family: "Fredoka One", cursive;
  font-size: 5.25em;
  color: #FF0062;
  text-align: center;
  text-decoration: none; }

h2 {
  font-family: "Fredoka One", cursive;
  font-size: 2.25em;
  color: #3685BF;
  text-align: center;
  margin-top: 10px; }

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin-top: 50%; }

h4 {
  font-family: "Fredoka One", cursive;
  font-size: 2em;
  font-weight: 400;
  color: #FF0062;
  margin-bottom: 20px;
  text-align: left; }

h5 {
  font-family: "Fredoka One", cursive;
  font-size: 5em;
  color: #B1FF4A;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0px 15px; }

h6 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: white;
  background-color: #3685BF;
  padding: 12px 8px;
  text-align: left;
  display: inline-block;
  -webkit-appearance: none; }

h6#pink {
  background-color: #FF0062;
  margin: 10px 5px 10px 0px; }

h6#green {
  background-color: #77AB31;
  margin: 10px 5px 10px 0px; }

p {
  color: white;
  font-size: 18px;
  line-height: 32px; }

.p {
  color: #3685BF;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  margin-bottom: 10px; }

span {
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
  color: #3685BF;
  font-size: 1.2em;
  display: inline-block;
  text-align: left;
  padding: 10px 10px 10px 0px; }

.icon {
  display: block;
  margin: 0 auto;
  text-align: center; }

.project {
  min-height: 100vh; }

.row {
  margin: 0 auto;
  text-align: center; }

.row#spacer-top {
  margin: 40px auto;
  text-align: left; }

.row#align-left {
  margin: 0 auto;
  text-align: left; }

#tech-list {
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
  color: #3685BF;
  font-size: 1.2em;
  display: inline-block;
  text-align: left;
  padding: 10px 10px 10px 0px; }

.animation-greeting {
  min-height: 100vh;
  width: 100%;
  /*display: inline-block;*/
  /*animation: pulse 8s ease;*/
  background: #FF0062 url("../images/m-07.png") no-repeat center; }

/*@keyframes pulse {
  0% {
    background: $pink url('../images/m-01.png') no-repeat center;
  }
  15% {
    background: $pink url('../images/m-02.png') no-repeat center;
  }
  30% {
    background: $pink url('../images/m-03.png') no-repeat center;
  }
  45% {
    background: $pink url('../images/m-04.png') no-repeat center;
  }
  60% {
    background: $pink url('../images/m-05.png') no-repeat center;
  }
  75% {
    background: $pink url('../images/m-06.png') no-repeat center;
  }
  100% {
    background: $pink url('../images/m-07.png') no-repeat center;
  }
}*/
#greeting {
  text-align: center;
  margin: 0 auto;
  z-index: 10; }

.buttons {
  margin: 2% 38%;
  text-align: center; }

.entry {
  width: 274px;
  height: 274px;
  font-family: "Fredoka One", cursive;
  margin: 5.5px;
  display: inline-table;
  white-space: pre-line; }

#entries {
  height: 100vh;
  padding-top: 20px; }

#green-banner {
  background-color: #77AB31;
  color: white;
  padding: 30px;
  margin: 2% 0px; }

#overlay-banner {
  background-color: #77AB31;
  width: 100%;
  padding: 30px;
  margin-top: 50px; }

/* images */
.image {
  max-width: 274px; }

#headshot {
  width: 274px;
  height: 274px;
  border: 20px inset #3685BF;
  border-radius: 50%; }

#transition-hover-content {
  padding: 10px;
  opacity: 0;
  background-color: rgba(0, 150, 150, 0.8);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
  -webkit-animation-name: example;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 20s;
  /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite; }

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
  0% {
    background-color: #FF0062; }
  20% {
    background-color: #eda9c4; }
  40% {
    background-color: #B1FF4A; }
  60% {
    background-color: #77AB31; }
  80% {
    background-color: #3685BF; }
  100% {
    background-color: #FF0062; } }

/* Standard syntax */
@keyframes example {
  0% {
    background-color: #FF0062; }
  20% {
    background-color: #eda9c4; }
  40% {
    background-color: #B1FF4A; }
  60% {
    background-color: #77AB31; }
  80% {
    background-color: #3685BF; }
  100% {
    background-color: #FF0062; } }

#transition-hover:hover #transition-hover-content {
  opacity: 1; }

a:active {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:link {
  text-decoration: none; }

input:focus {
  outline: none; }

input {
  text-decoration: none;
  background: none;
  border: none;
  padding: 5px;
  font-family: "Fredoka One", cursive;
  font-size: 24px;
  color: #77AB31; }

input:hover {
  color: #B1FF4A; }

.home-input {
  font-size: 3em;
  color: #3685BF;
  padding: 10px; }

.home-input:hover {
  color: #3685BF; }

.carousel-control {
  display: none; }

.carousel-indicators li {
  border: 1px solid #FF0062; }

.carousel-indicators li.active {
  background-color: #FF0062; }

.info {
  padding-top: 24px; }

.fa {
  color: white;
  padding: 30px 5px 32px 0px; }
