/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* typography */
/* colors */
/* universal */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Nixie One", cursive;
  /*overflow: scroll !important;*/
  height: 100%;
  margin: 0 auto; }

/*
canvas {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  position: absolute;
}
*/
.container {
  padding: none; }

hr {
  color: #B1FF4A;
  border: 3px solid #B1FF4A;
  margin-top: 60px; }

.col-md-12 {
  padding: none; }

.col-xs-12 {
  padding: none; }

.center {
  margin: 0 auto;
  text-align: center; }

.spacer-bottom {
  margin-bottom: 40px; }

.middle {
  margin: 10px auto;
  text-align: center; }

.image {
  max-width: 274px; }

.arrow {
  color: #B1FF4A;
  font-family: "Fredoka One", cursive;
  font-size: 30px;
  margin-top: 40px; }

h1 {
  font-family: "Fredoka One", cursive;
  font-size: 5.25em;
  color: #EB006B;
  text-align: center;
  text-decoration: none;
  /*margin: 0px 5px;*/ }

h2 {
  font-family: "Fredoka One", cursive;
  font-size: 2.25em;
  color: #3685BF;
  text-align: center;
  margin-top: 10px; }

h3 {
  font-family: "Nixie One", cursive;
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin-top: 50%; }

h4 {
  font-family: "Fredoka One", cursive;
  font-size: 2em;
  font-weight: 400;
  color: #EB006B;
  margin-bottom: 20px;
  text-align: left; }

h5 {
  font-family: "Fredoka One", cursive;
  font-size: 5em;
  color: #B1FF4A;
  text-align: center;
  text-decoration: none; }

h6 {
  font-family: "Nixie One", cursive;
  font-size: 18px;
  color: white;
  background-color: #3685BF;
  padding: 12px 5px;
  text-align: left;
  display: inline-block; }

h6#pink {
  background-color: #EB006B;
  margin: 10px 5px 10px 0px; }

h6#green {
  background-color: #77AB31;
  margin: 10px 5px 10px 0px; }

p {
  color: white;
  font-size: 18px;
  line-height: 32px; }

.p {
  color: #3685BF;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 10px; }

.row {
  margin: 0 auto;
  text-align: center;
  /*width: 100%*/ }

.animation-greeting {
  min-height: 100vh;
  background: #EB006B;
  animation: pulse 5s infinite;
  /*border: 1px solid black;*/ }

/*span {
  font-family: $primary;
  font-size: 12em;
  width: 100%;
  display: inline-block;
  animation: flyDown 18s linear 0s;
  height: 100%
}

#span-seven {
  color: $green;
  position: relative;
  top: 0px;
  animation-delay: 18s;
}

#span-six {
  color: $dark-green;
  position: relative;
  top: -170px;
  animation-delay: 15s;

}

#span-five {
  color: $green;
  position: relative;
  top: -340px;
  animation-delay: 12s;

}

#span-four {
  color: $dark-green;
  position: relative;
  top: -510px;
  animation-delay: 9s;

}

#span-three {
  color: $green;
  position: relative;
  top: -680px;
  animation-delay: 6s;

}

#span-two {
  color: $dark-green;
  position: relative;
  top: -850px;
  animation-delay: 3s;

}

#span-one {
  color: $green;
  position: relative;
  top: -1020px;
  /*animation-delay: 0s;*/
/*}*/
@keyframes pulse {
  0% {
    background-image: url("../images/m-01.png"); }
  15% {
    background-image: url("../images/m-02.png"); }
  30% {
    background-image: url("../images/m-03.png"); }
  45% {
    background-image: url("../images/m-04.png"); }
  60% {
    background-image: url("../images/m-05.png"); }
  75% {
    background-image: url("../images/m-06.png"); }
  100% {
    background-image: url("../images/m-07.png"); } }

#hello {
  /*position: relative;*/
  width: 100%;
  margin: 40px auto;
  /*overflow: hidden;*/
  /*min-height: 100vh;*/
  /*text-align: center;*/
  /*border: 1px solid black;*/
  /*  background-color: $light-pink;
*/ }

#greeting {
  text-align: center;
  margin: 0 auto;
  z-index: 10;
  /*  position: absolute;
*/ }

.row#align-left {
  margin: 0 auto;
  text-align: left; }

.buttons {
  margin: 2% 38%;
  text-align: center; }

.entry {
  width: 274px;
  height: 274px;
  font-family: "Fredoka One", cursive;
  margin: 5.5px;
  display: inline-table;
  white-space: pre-line; }

#entries {
  height: 100vh;
  padding-top: 20px; }

#pink-banner {
  background-color: #EB006B;
  color: white;
  width: 100%;
  padding: 30px; }

#overlay-banner {
  background-color: #77AB31;
  width: 100%;
  padding: 30px;
  margin-top: 50px;
  /*  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  transition:.5s;
  -webkit-animation-name: example;
  -webkit-animation-duration: 20s;
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;*/ }

#headshot {
  width: 274px;
  height: 274px;
  border: 20px inset #B1FF4A;
  border-radius: 50%; }

#transition-hover-content {
  padding: 10px;
  opacity: 0;
  background-color: rgba(0, 150, 150, 0.8);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
  -webkit-animation-name: example;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 20s;
  /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite; }

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
  0% {
    background-color: #EB006B; }
  20% {
    background-color: #eda9c4; }
  40% {
    background-color: #B1FF4A; }
  60% {
    background-color: #77AB31; }
  80% {
    background-color: #3685BF; }
  100% {
    background-color: #EB006B; } }

/* Standard syntax */
@keyframes example {
  0% {
    background-color: #EB006B; }
  20% {
    background-color: #eda9c4; }
  40% {
    background-color: #B1FF4A; }
  60% {
    background-color: #77AB31; }
  80% {
    background-color: #3685BF; }
  100% {
    background-color: #EB006B; } }

#transition-hover:hover #transition-hover-content {
  opacity: 1; }

a:active {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:link {
  text-decoration: none; }

input:focus {
  outline: none; }

input {
  text-decoration: none;
  background: none;
  border: none;
  padding: 5px;
  font-family: "Fredoka One", cursive;
  font-size: 24px;
  color: #77AB31; }

input:hover {
  color: #B1FF4A; }

.carousel-control {
  display: none; }

.info {
  padding-top: 30px; }

.fa {
  color: white;
  padding: 30px 5px 32px 0px; }
