<div ui-view ng-controller="PortfolioController">
  <div class="container">
    <div class="row buttons">
      <input type="button" name="" value="all" ng-click="categories=''">
      <input type="button" name="" value="web" ng-click="categories={web: true}">
      <input type="button" name="" value="design" ng-click="categories={design: true}">
      <input type="button" name="" value="print" ng-click="categories={print: true}">
    </div>
  </div>
  <div class="container spacer-bottom">
    <div class="row">
      <a ng-repeat="project in projects | filter:categories" class="entry col-md-4" id="transition-hover" ng-style="{'background-image': 'url({{project.image}})'}" ng-href="#/portfolio/{{project.id}}">
        <h3 id="transition-hover-content">{{project.name}}</h3>
      </a>
    </div>
  </div>
</div>
