<div ui-view>
<div class="container">
  <div class="row">
    <div class="col-md-12 center">
      <h2>{{project.name}}</h2>
      <div class="row">
        <div class="col-xs-8 col-sm-6 col-md-6">
          <img src="{{project.image}}" alt="">
        </div>
        <div class="col-xs-4 col-sm-6 col-md-6">
          <h4>{{project.date}} {{project.description}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <a ng-href="#/portfolio/{{project.id-1}}"><</a>
      <a ng-href="#/portfolio/{{project.id+1}}">></a>
      <div ng-click="goBack()">back</div>
      <div ng-click="goNext()">next</div>
  </div>
</div>
</div>
