<div ui-view id="entries">
  <div class="container project" ng-controller="ProjectsController" class="spacer-top">
    <div class="col-md-12 center spacer-bottom">
      <a ng-href="#/portfolio/{{page-1}}"><h5 ng-show="project.id != 0">-</h5></a>
      <a ng-href="#/portfolio/{{page+1}}"><h5 ng-show="project.id != 13">+</h5></a>
    </div>
    <div class="row spacer-top">
      <div class="col-xs-12 col-sm-12 col-md-4 center spacer-bottom">
        <div ng-controller="CarouselController">
          <div>
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
              <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto; min-height: 350px">
              </uib-slide>
            </uib-carousel>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="row">
        <h4>{{project.name}}</h4>
        <p class="p">{{project.description}}</p>
        </div>
        <div class="row" id="align-left">
        <span ng-show="project.technology">Built with: </span><li id="tech-list" ng-repeat="i in technology"> {{i}}</li>
        </div>
        <div class="row spacer-bottom" id="align-left">
          <a href="{{project.url}}" target="_blank" ng-show="project.url"><h6 id="pink">Website</h6></a>
          <a href="{{project.github}}" target="_blank" ng-show="project.github"><h6 id="green">GitHub</h6></a>
        </div>
      </div>
    </div>
  </div>
</div>
