/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* typography */
$primary:'Fredoka One', cursive;
$secondary: 'Nixie One', cursive;

/* colors */

$light-pink: #eda9c4;
$pink: #EB006B;
$green: #008000;
$yellow: #F4D916;
$blue: #3685BF;
$teal: #338077;

/* universal */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding-top: 50px;
  font-family: $secondary;
  overflow: scroll !important;
  height: 100%;
}

.center {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: $primary;
  font-size: 6em;
  color: $pink;
  text-align: center;
  margin: 0px 5px;
}

h2 {
  font-family: $primary;
  font-size: 2.5em;
  color: $blue;
  text-align: center;
  margin-top: 10px;
}

h3 {
  font-family: $secondary;
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin-top: 50%;
}

p {
  color: white;
  font-size: 18px;
  line-height: 32px;
}

.row {
  margin: 0 auto;
}

.buttons {
  margin: 2% 38%;
  text-align: center;
}

.entry {
  width: 274px;
  height: 274px;
  font-family: $primary;
  float: left;
  margin: 5px;
  white-space: pre-line;
}

#banner {
  background-color: $pink;
  color: white;
  width: 100%;
  padding: 30px;
  margin-top: 50px;
}

#headshot {
  width: 274px;
  height: 274px;
  border-radius: 50%;
}

#transition-hover-content {
  padding: 10px;
  opacity:0;
  background-color: rgba(0,150,150,0.8);
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  transition:.5s;
}

#transition-hover:hover #transition-hover-content {
    opacity:1;
}

a:hover{
  text-decoration: none;
}

input {
  text-decoration: none;
  background: none;
  border: none;
  padding: 5px;
  font-size: 24px;
}

input:hover {
  background-color: $yellow;
}

.info {
  padding-top: 30px;
}

.fa {
  color: white;
  padding: 30px 5px 0px;
}
